@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Albums" asp-action="Index">Albums in Chinook Catalog</a>.</p>
    <p><a asp-controller="Artists" asp-action="Index">Artists in Chinook Catalog</a>.</p>
    <p><a asp-controller="Customers" asp-action="Index">Customers in Chinook Catalog</a>.</p>
</div>
