@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="HallOfFames" asp-action="Index">Baseball Hall of Famers with 500+ Homeruns</a>.</p>
    <p><a asp-controller="SeriesPosts" asp-action="Index">Pitchers from 2018 World Series Winner</a>.</p>
</div>
